// Адаптивна властивість
$maxwidth: 1720;
$maxWidthContainer: 1720;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //   Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //   Тільки якщо більше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxwidth - 320}));
    }
  } @else {
    //   Завжди
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxwidth - 320}));
  }
}

// Спосіб застосування:

div {
  @include adaptiv-value('font-size', 20, 10, 0);
}

// де:
// "font-size" - властивість, яку треба адаптувати;
// 20 - початкове занчення по макету;
// 10 - мінімальний розмір, який буде адекватно відображатися на мінімальному розмірі екрану;
// 0 - режим один з трьох (type==1 type==2 type==0)
