@import './reset.scss';
@import './variables.scss';
@import './mediaQuery.scss';
@import './icons-font.scss';

html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
.wrapper {
  width: 95%;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 auto;

    .input-data {
      width: 38%;

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
        line-height: 1.3rem;
      }
      .generate-document-button {
        margin: 0 auto;
      }
    }
    .output-data {
      width: 100%;
      line-height: 1.2rem;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-left: 2em;
    }
  }
}
._button {
  padding: 0.3em 2em;
  border: 1px solid $buttonBorderColor;
  width: fit-content;
  border-radius: 0.4em;
  margin: 1em 0;
  transition: all linear 0.15s;
  font-size: 1.2em;
  font-weight: 700;

  &:not(:disabled):hover {
    background-color: $bgColor;
    color: $hoverTextColor;
    border: 1px solid $h1Color;
    box-shadow: 0 0 5px $h1Color;
  }

  &:active {
    transform: translateY(1px);
  }
}
._title {
  font-size: $titleFontSize;
  font-weight: 900;
  // padding: 0.5em 0;
}
._subtitle {
  font-size: $subTitleFontSize;
  font-weight: 700;
  padding: 0.5em 0;
}
._input {
  border: 1px solid $inputBorderColor;
  border-radius: 0.1em;
  padding: 0.3em 1em;
  // font-size: 1em;
  margin: 0.2rem 0;
  transition: all 0.2s linear;

  &:focus {
    outline: 1.5px solid $hoverBgColor;
  }
}
._select {
  border: 1px solid $inputBorderColor;
  border-radius: 0.2em;
  padding: 0.3em 1em;
}

._bold {
  font-weight: 900;
}
._cursive {
  font-style: italic;
}
._bigSection {
  box-shadow: 0px 0px 5px $buttonBorderColor;
  padding: 1.5em;
  border-radius: 10px;
}
._section {
  display: flex;
  flex-direction: column;
}
._colored {
  &::before {
    color: $h1Color;
  }
}
._green {
  &::before {
    color: $green;
  }
}
._red {
  color: $red;
  &::before {
    color: $red;
  }
}
h1 {
  font-weight: 900;
  font-size: 1.3em !important;
  color: $h1Color;
  text-align: center;
  border-bottom: 2px solid $h1Color;
  width: fit-content;
  align-self: center;
}
h2 {
  font-weight: 700;
  font-size: 1.1rem;
  // padding-top: 1em;
}

.iframe-pdf {
  width: 100%;
  height: 100%;
  position: 'relative';
}
