// 4K >
@media screen and (min-width: 2560px) {
}

// > 4K
@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .input-data {
      width: 100% !important;
    }
    .output-data {
      &__document {
        height: 100% !important;
        padding: 1em 1em 0 0;
      }
    }
  }

  .logo {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 250px !important;
  }
}
