@media print {
  .input-data {
    display: none;
  }

  .output-data__document {
    overflow: visible;
    font-size: 9.1pt;
    line-height: 1.2em;
    // counter-reset: page;
  }

  @page {
    size: A4;
    margin: 1cm 0.7cm 1cm 1.5cm;

    @bottom-right {
      content: counter(page);
    }
  }
}
