.form {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1em;
}
.choice-document {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  > label {
    padding-right: 1em;
  }
}

.choice-company {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}
.choise-counterparty {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  &__signer-choice {
    &:hover {
      cursor: pointer;
    }
    > li::before {
      padding-right: 1em;
    }
  }

  &__contacts-container {
    display: flex;
    width: 100%;
    align-items: center;

    label {
      margin-left: 0.6em;
    }
    label::before {
      display: flex;
      align-items: center;
    }

    input[type='checkbox'] {
      display: none;
    }
  }

  input[type='tel'],
  input[type='email'] {
    width: 80%;
  }

  &__passport-type,
  &__tax-type {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    input {
      margin-left: 0.5em;
    }
    input:first-child {
      margin-right: 2em;
    }
  }
}
.check-box {
  margin-left: 1em;
}
.horizontal-radiobattons {
  padding: 0.5em 0;
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}
