@import '../../styles/variables.scss';

.output-data__nav {
  width: 100%;
  text-align: left !important;
  background-color: $bgColor;
  padding: 0 1em;
  margin-bottom: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $h1Color 1px dotted;

  &__nav-text {
  }
  &__nav-actions {
  }
}
.actions {
  display: flex;
  gap: 1em;

  &__print {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.2s linear;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
    &::before {
      font-size: 1.5em;
      font-weight: 900;
      margin-right: 5px;
    }
  }
}
