@import '../../styles/variables.scss';

.output-data__document {
}
.document {
  text-align: justify;
  height: 150vh;
  overflow: auto;
  padding: 1em 1em 0 0;
  position: relative;
  width: 100%;

  &__header {
  }

  &__title {
  }
  &__place-and-date {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 1em 0;
  }
  &__place {
  }
  &__date {
  }
  &__preamble {
  }
  &__text {
    ol[paragraphs] > li {
      text-align: center;
      padding: 0 0 0.5em 0;
    }

    li {
      list-style-position: inside;
      text-align: justify;

      p {
        display: inline-block;
        text-align: center;
      }
    }
    ol {
      counter-reset: section;
      list-style-type: none;
    }
    li::before {
      counter-increment: section;
      content: counters(section, '.') '. ';
      font-weight: 900;
    }
  }
  &__footer {
  }
  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    text-align: left;
  }
  &__details_parties {
  }
  &__signatures {
  }
}
.party-details {
  &__title {
  }
  &__name {
  }
  &__address {
  }
  &__code-EDRPOU {
  }
  &__contacts_tel {
  }
  &__contacts_mail {
  }
  &__taxation-system {
  }
  &__contacts_passport {
  }
  &__contacts_bank-details-title {
  }
  &__contacts_bank-details {
  }
}
.signatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin-top: 1em;

  &__party {
  }
  &__sign {
    display: flex;
    justify-content: space-between;
  }
  &__signatory-role {
  }
  &__signatory-signature {
    border-bottom: 1px solid black;
    height: 1em;
    flex: 1 1 auto;
  }
  &__signatory-name {
  }
}
._align-center {
  text-align: center;
}
._title-text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}
._subtitle-text {
  font-weight: 700;
}
